<!DOCTYPE html>
<html>
<head>
  <title>Football Challenge</title>
</head>
<body>
  <h2>Football Challenge Form</h2>
  <form action="/submit" method="POST">
    Name: <input type="text" name="name"><br>
    Highest Level Played: <input type="text" name="level"><br>
    Dribble Drill Speed: <input type="text" name="dribble_speed"><br>
    Accept Challenge? 
    <select name="challenge_response">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
